In [2]:
import numpy as np
import pandas as pd

In [4]:
study_df = pd.read_excel("/Users/verano13/Downloads/887667.xlsx")

In [6]:
study_df.columns

Index(['underlying_nid', 'nid', 'field_citation_value', 'location_name',
       'location_id', 'sex', 'year_start', 'year_end', 'age_start', 'age_end',
       'measure', 'mean', 'lower', 'upper', 'bundle_id', 'seq', 'origin_seq',
       'origin_id', 'is_outlier', 'year_id', 'age_group_id', 'val', 'variance',
       'gbd_component', 'sub_component', 'me_id', 'cause_id', 'rei_id',
       'note_year', 'release', 'age_type', 'underlying_field_citation_value'],
      dtype='object')

In [11]:
study_df.iloc[:,15:].head()

,seq,origin_seq,origin_id,is_outlier,year_id,age_group_id,val,variance,gbd_component,sub_component,me_id,cause_id,rei_id,note_year,release,age_type,underlying_field_citation_value
0,1,1,1,0,0,12,1.50,0.01,Risk Factors,Relative risk,2547,500,107,For all years,gbd_2017,Years,NaN
1,2,2,1,0,0,14,1.42,0.01,Risk Factors,Relative risk,2547,500,107,For all years,gbd_2017,Years,NaN
2,3,3,1,0,0,16,1.35,0.01,Risk Factors,Relative risk,2547,500,107,For all years,gbd_2017,Years,NaN
3,4,4,1,0,0,18,1.28,0.01,Risk Factors,Relative risk,2547,500,107,For all years,gbd_2017,Years,NaN
4,5,5,1,0,0,20,1.21,0.01,Risk Factors,Relative risk,2547,500,107,For all years,gbd_2017,Years,NaN

In [12]:
study_df.iloc[:,:15]

,underlying_nid,nid,field_citation_value,location_name,location_id,sex,year_start,year_end,age_start,age_end,measure,mean,lower,upper,bundle_id
0,NaN,155067,"Singh GM, Danaei G, Farzadfar F, Stevens GA, W...",Global,1,Both,0,0,35,40,relrisk,NaN,NaN,NaN,1817
1,NaN,155067,"Singh GM, Danaei G, Farzadfar F, Stevens GA, W...",Global,1,Both,0,0,45,50,relrisk,NaN,NaN,NaN,1817
2,NaN,155067,"Singh GM, Danaei G, Farzadfar F, Stevens GA, W...",Global,1,Both,0,0,55,60,relrisk,NaN,NaN,NaN,1817
3,NaN,155067,"Singh GM, Danaei G, Farzadfar F, Stevens GA, W...",Global,1,Both,0,0,65,70,relrisk,NaN,NaN,NaN,1817
4,NaN,155067,"Singh GM, Danaei G, Farzadfar F, Stevens GA, W...",Global,1,Both,0,0,75,80,relrisk,NaN,NaN,NaN,1817
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,NaN,259647,"<p><span style=""font-size: 12px;"">Renal Risk C...",Global,1,Both,0,0,0,125,relrisk,NaN,NaN,NaN,1817
114,NaN,259647,"<p><span style=""font-size: 12px;"">Renal Risk C...",Global,1,Both,0,0,0,125,relrisk,NaN,NaN,NaN,1817
115,NaN,259647,"<p><span style=""font-size: 12px;"">Renal Risk C...",Global,1,Both,0,0,0,125,relrisk,NaN,NaN,NaN,1817
116,NaN,259647,"<p><span style=""font-size: 12px;"">Renal Risk C...",Global,1,Both,0,0,0,125,relrisk,NaN,NaN,NaN,1817
117,NaN,259647,"<p><span style=""font-size: 12px;"">Renal Risk C...",Global,1,Both,0,0,0,125,relrisk,NaN,NaN,NaN,1817

In [13]:
study_df["field_citation_value"].unique()

array(['Singh GM, Danaei G, Farzadfar F, Stevens GA, Woodward M, Wormser D, Kaptoge S, Whitlock G, Qiao Q, Lewington S, Di Angelantonio E, Vander Hoorn S, Lawes CM, Ali MK, Mozaffarian D, Ezzati M; Global Burden of Metabolic Risk Factors of Chronic Diseases Collaborating Group; Asia-Pacific Cohort Studies Collaboration (APCSC); Diabetes Epidemiology: Collaborative analysis of Diagnostic criteria in Europe (DECODE); Emerging Risk Factor Collaboration (ERFC); Prospective Studies Collaboration (PSC). The age-specific quantitative effects of metabolic risk factors on cardiovascular diseases and diabetes: a pooled analysis. <i>PLoS One</i>. 2013; 8(7): e65174.',
       'Rapsomaniki E, Timmis A, George J, Pujades-Rodriguez M, Shah AD, Denaxas S, White IR, Caulfield MJ, Deanfield JE, Smeeth L, Williams B, Hingorani A, Hemingway H. Blood pressure and incidence of twelve cardiovascular diseases: lifetime risks, healthy life-years lost, and age-specific associations in 1·25 million people. <i>Lancet</i>. 2014; 31(383): 1899-911.',
       '<p><span style="font-size: 12px;">Renal Risk Collaboration; Foote C, Lin K, Danaei G, Ezzati M, Woodward M, Cass A, Eris J, Perkovic V. The effect of Blood Pressure on Kidney Failure: a systematic review and meta-analysis in 2.7 million participants. [Unpublished].</span></p>'],
      dtype=object)

In [ ]:
author = np.array(["Stoekenbroek","Stoekenbroek","Stoekenbroek","Stoekenbroek","Itoga","Itoga","Itoga","Itoga","Itoga"])
x = np.array([1,1.5,1.56,2.95,1.75,1.65,1.89,1.96,2.12])